.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size:30px;
    text-decoration: none;
    padding-left: 43.5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;    
}
